
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    height: 100vh;
  
}
header{
    background-color: black;
    height: 100px;
    
}
.navbar li a{
    
    
    color: white;
    text-decoration: none;
    padding: 8px;
    &:hover{
        background-color: yellowgreen;
        color: black
    }
   

    
}

header .navbar{
  margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    max-width: 100%;
    margin: 0 40px;
}
.navbar .menu-links{
    margin-top: 30px;
    display: flex;
    gap: 40px;
   
}
li{
   list-style-type: none;
}
#logo{
    margin-top: 30px;
    text-decoration: none;
    font-size: larger;
    padding: 8px;
    &:hover{
        background-color: yellowgreen;
    }
}
.section-1{
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 0 60px;

}
.content {
    width: 300px;
    color: aliceblue;
    animation-name: para1;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
button{
    border: none;
    margin-top: 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 0;
    background-color: antiquewhite;
    font-weight: bold;
    &:hover{
        background-color: rgb(224, 92, 40);
        cursor: pointer;
    }
}
@keyframes para1 {
    0%{
        opacity: 0;
        filter: blur(50px);
    }
25%{
    opacity: 1;
    filter: blur(0);
}

    50%{
        opacity: 1;
        filter: blur(0);

    }
    75%{
        opacity: 1;
        filter: blur(0);
    }

    100%{
        opacity: 0;
        filter: blur(50px);

        
    }
}


  
  /* .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  
    /* .dropdown {
   
    float: left;
    overflow: hidden;
  } */
  
  
  .dropdown-content {
    /* margin-top: 10px; */
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;
  }